.text_need_explain {
    display: inline-block;
    cursor: pointer;
    text-decoration: underline;
    position: relative;
    transition: 0.7s;
}

.text_need_explain .text_explain {
    font-size: 13px;
    border: 1px solid #DCDFE6;
    background-color: #fff;
    padding: 10px;
    text-decoration: none;
    color: #333;
    position: absolute;
    bottom: calc(100% + 10px);
    left: 0;
    transform: translateX(-40%);
    width: max-content;
    max-width: 250px;
    display: none;
}

.text_need_explain:hover .text_explain{
    display: block;
}

.text_need_explain .text_explain::after {
    content: '';
    width: 10px;
    height: 10px;
    border-top: 1px solid #DCDFE6;
    border-right: 1px solid #DCDFE6;
    position: absolute;
    transform: rotateZ( 135deg) translateY(calc(-100% - -2px));
    left: 43%;
    bottom: 0;
    background: #fff;
}

.todo {
    color: #E6A23C;
}

.title_img img {
    max-width: 880px;
    width: 100%;
}

input[type="checkbox"] {
   position: absolute;
   clip: rect(0, 0, 0, 0)
 }

 .mark::before {  
    content: '\a0';
    display: inline-block;
    border: 1px solid silver;
    text-align: center;
    width: 20px;
    height: 20px;
    font-weight: bold;
    margin-right: 5px;
    vertical-align: bottom;
}

input[type="checkbox"]:checked+.mark::before {
    content: '\2713';
    color: #FA8E53;
}